/* Pallette: 03071e, 370617, 6a040f, 9d0208, d00000, dc2f02, e85d04, f48c06, faa307, ffba08 */

/* Colours */
:root {
  --dark-bg: #03071e;
  
  --dark-burgandy: #370617;
  --light-burgandy: #6a040f;
  --semi-dark-red: #9d0208;
  --red: #d00000;
  
  --semi-dark-orange: #dc2f02;
  --orange: #e85d04;
  --light-orange: #f48c06;
  
  --light-yellow: #faa307;
  --yellow: #ffba08;
}

input[type=text] {
  width: 130px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--light-yellow);
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.7s ease-in-out;
}

input[type=text]:focus {
  width: 90%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Navigation */
nav {
  overflow: hidden;
  background-color: var(--light-orange);
  border-radius: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li, span {
  float: left;
  transition-duration: 0.3s;
  border-radius: 10px;
}

nav li:last-child {
  border-right: none;
}

nav li a, span {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.3s;
  border-radius: 10px;
}

nav li a:hover:not(.active) {
  background-color: var(--orange);
  transition-duration: 0.3s;
  border-radius: 10px;
}

.nav-name {
  font-weight: 600;
}
