/* Pallette: 03071e, 370617, 6a040f, 9d0208, d00000, dc2f02, e85d04, f48c06, faa307, ffba08 */

:root {
  --dark-bg: #03071e;
  
  --dark-burgandy: #370617;
  --light-burgandy: #6a040f;
  --semi-dark-red: #9d0208;
  --red: #d00000;
  
  --semi-dark-orange: #dc2f02;
  --orange: #e85d04;
  --light-orange: #f48c06;
  
  --light-yellow: #faa307;
  --yellow: #ffba08;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--light-orange);
  radius: 10px;
}

li {
  float: left;
  transition-duration: 0.3s;
  radius: 10px; /*why does this not work?*/
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.3s;
  radius: 10px;
}

li a:hover:not(.active) {
  background-color: var(--orange);
  transition-duration: 0.3s;
  radius: 10px; /*This also doesn't work*/
}
